body {
	background-image: url("http://fc07.deviantart.net/fs71/i/2010/127/f/1/Haruhi___Obey_by_KuwiRules145.png");
	background-size: cover;
	margin-right: 10px

	font-family: 'Vernon Adams';
	color: black;
} 

	
.Kenice-is-boss {
	text-align: center;
	border-style: groove;
	border-radius: 70px;
	margin-bottom: 300px
	
}
	.About-me{
		text-align: center;
		border-style: groove;
		border-radius: 70px;
	}

.container {

}

h2{

	text-align: center;
}