body {
	background-image: url(http://fc07.deviantart.net/fs71/i/2010/127/f/1/Haruhi___Obey_by_KuwiRules145.png);
	background-size: 1370px;
	color: black;


} 

.Kenice-is-boss {
	text-align: center;
	border: 3px solid;
}
