body {
	background-image: url();
	background-size: 1300px;
	color: black;


} 


.navcontainer ul
{
padding-left: 0;
margin-left: 0;
background-color: #036;
color: black;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: purple;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color: lightgrey;
color: black;
}


.projects-is-life {
	text-align: center;
	border-style: double;
	margin-bottom: 500px;
	margin-top:10px; 

}

#home { 
background: url("http://3.bp.blogspot.com/_USbT7RlMSJA/TPSn4vaRqpI/AAAAAAAAAa0/_UA3mXjxznk/s1600/640.gif") 50% 0 repeat fixed; min-height: 1000px;
}
 
#about { 
background: url("http://2.bp.blogspot.com/_FxoChqIovf8/TTKXcvEXGdI/AAAAAAAAASE/2EUsa2P30Pw/s1600/Light%2BGray%2BSuede.jpg") 50% 0 no-repeat min-height: 1000px;  
}
#home { 
  background: url("http://3.bp.blogspot.com/_USbT7RlMSJA/TPSn4vaRqpI/AAAAAAAAAa0/_UA3mXjxznk/s1600/640.gif") 50% 0 repeat fixed; min-height: 1000px; 
  background-size: 1100px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#about { 
  background: url("http://2.bp.blogspot.com/_FxoChqIovf8/TTKXcvEXGdI/AAAAAAAAASE/2EUsa2P30Pw/s1600/Light%2BGray%2BSuede.jpg") 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
#opaque{
	opacity: .5;
	width: 300px;
	background-color: transparent;
	margin-left: 50px;
	margin-right: 400px;

}
.My-Projects {
	text-align: center;
	border-style: double;
	border-color: black;
	padding: 50px;
	margin-bottom: 100px;
	}

@media screen and (max-width:959px){
   	#home{
   		width: 100%;
   	}

   	#about{
   		width: 100%;
   	}

   } 

    @media screen and (max-width:640px){

	#home{
   		width: 100%;
   	}

   	#about{
   		width: 100%;
   	}

    }  
    @media screen and (max-width:320px){
   	
   	#home{
   		width: 320px;
   	}

   	#about{
   		width: 320px;
   	}

   }   
