body {
	background-image: url("http://3.bp.blogspot.com/_USbT7RlMSJA/TPSn4vaRqpI/AAAAAAAAAa0/_UA3mXjxznk/s1600/640.gif");
	background-size: 1300px;
	color: black;


} 

.projects-is-life {
	text-align: center;
	border-style: double;
	margin-bottom: 500px;
}


} 

}
